<div class="resource flex-group-center health relative-group">
    <div class="flexrow">
        <i class="fas fa-minus resource-control resource-minus" data-resource="health" data-action="minus"></i>
        <label for="data.data.health" class="resource-label pool-label">{{localize "VTM5E.Health"}} ({{data.data.health.max}})</label>
        <i class="fas fa-plus resource-control resource-plus" data-resource="health" data-action="plus"></i>
    </div>
    <div class="resource-content flexrow flex-center flex-between">
        <div class="resource-counter flex-display" data-states="/:superficial,x:aggravated,-:lethal"  data-max="{{data.data.health.max}}" 
        data-lethal="{{data.data.health.lethal}}" data-superficial="{{data.data.health.superficial}}" data-aggravated="{{data.data.health.aggravated}}" data-name="data.health">
            {{#numLoop data.data.health.max}}
            <span class="resource-counter-step" data-index="{{this}}" data-state=""></span>
            {{/numLoop}}
        </div>
         <span class="extra-status-label"> {{data.data.health.state}} </span>
    </div>
</div>