<div class="resource flex-group-center soak-init">
    <label for="placeholder" class="resource-label">{{localize "VTM5E.Soak"}}</label>
    <div class="resource-content flexrow flex-center flex-between">
        <button class="soakrollable" type="text" name="soak" data-name="soak" data-sheettype="{{sheetType}}"
            data-label="{{localize 'VTM5E.Soak'}}">
            {{localize "VTM5E.Roll"}}</button>
    </div>
    <label for="placeholder" class="resource-label">{{localize "VTM5E.Initiative"}}</label>
    <div class="resource-content flexrow flex-center flex-between">
        <button class="initrollable" type="text" name="initiative" data-name="initiative" data-sheettype="{{sheetType}}"
            data-label="{{localize 'VTM5E.Initiative'}}">
            {{localize "VTM5E.Roll"}}</button>
    </div>
</div>