<form xmlns="http://www.w3.org/1999/html">
    {{#unless noability}}
    <div class="form-group">
        <label> {{localize "VTM5E.SelectAbility"}} </label>
        <select id="abilitySelect">
            {{#each abilities as |value key|}}
                <option value="{{value}}"> {{localize value}} </option>
            {{/each}}
        </select>
    </div>
    {{/unless}}
    <div class="form-group">
        <label>{{localize "VTM5E.Modifier"}}</label>
        <input type="text" id="inputMod" value="0">
    </div>
    <div class="form-group">
        <label>{{localize "VTM5E.Difficulty"}}</label>
        <input type="text" min="0" id="inputDif" value="6">
    </div>
    {{#unless noability}}
        <input id="useWound" type="checkbox" checked> Apply Wounds? </input>
        <input id="specialty" type="checkbox"> Specialty </input>
    {{/unless}}

</form>