<form>
    {{#unless noability}}
    <div class="form-group">
        {{#if rollingattributes}} 
            <label> {{localize "VTM5E.SelectAbility"}}:</label>
            <select id="abilitySelect" name="abilitySelect">
                {{#select data.abilitySelect}}
                    {{#each skillsArray as |skill|}}
                        <option value={{skill.name}}>{{localize skill.loc}}</option>
                    {{/each}}
                {{/select}}
            </select>
        {{else}}
            <label> {{localize "VTM5E.SelectAttributes"}}: </label>
            <select id="attributesSelect" name="attributesSelect">
                {{#select system.attributesSelect}} 
                    {{> "systems/wod20/templates/item/parts/attributes.html"}} 
                {{/select}}
                <option value="null">{{localize "VTM5E.None"}}</option>
            </select>
        {{/if}}
    </div>
    {{/unless}}
    <div class="form-group">
        <label>{{localize "VTM5E.Modifier"}}:</label>
        <input type="text" id="inputMod" value="0">
    </div>
    <div class="form-group">
        <label>{{localize "VTM5E.Difficulty"}}:</label>
        <input type="text" min="0" id="inputDif" value="6">
    </div>
    {{#unless noability}}
        <div class="form-group">
            <label>{{localize "VTM5E.Specialty"}}:</label>
            <input id="specialty" type="checkbox" />
        </div>
    {{/unless}}
    <div class="form-group">
        <label>{{localize "VTM5E.ApplyWounds"}}:</label>
        <input id="applyWounds" type="checkbox" checked />
    </div>
</form>