<form>
    <div class="form-group">
        <label>{{localize "VTM5E.RollStamina"}}:</label>
        <input id="rollstamina" type="checkbox" checked>
    </div>
    {{#ifEquals sheettype "Mortal"}}
    {{else}}
    <div class="form-group">
        <label>{{localize "VTM5E.RollFortitude"}}:</label>
        <input id="rollfortitude" type="checkbox" checked>
    </div>
    {{/ifEquals}}
    <div class="form-group">
        <label>{{localize "VTM5E.RollArmor"}}:</label>
        <input id="rollarmor" type="checkbox" checked>
    </div>
    <div class="form-group">
        <label>{{localize "VTM5E.Modifier"}}:</label>
        <input type="text" id="inputMod" value="0">
    </div>
    <div class="form-group">
        <label>{{localize "VTM5E.Difficulty"}}:</label>
        <input type="text" min="0" id="inputDif" value="6">
    </div>
    <div class="form-group">
        <label>{{localize "VTM5E.Specialty"}}:</label>
        <input id="specialty" type="checkbox" />
    </div>
</form>