<option value="strength">{{localize "VTM5E.Strength"}}</option>
<option value="dexterity">{{localize "VTM5E.Dexterity"}}</option>
<option value="stamina">{{localize "VTM5E.Stamina"}}</option>
<option value="charisma">{{localize "VTM5E.Charisma"}}</option>
<option value="manipulation">{{localize "VTM5E.Manipulation"}}</option>
<option value="appearance">{{localize "VTM5E.Appearance"}}</option>
<option value="intelligence">{{localize "VTM5E.Intelligence"}}</option>
<option value="wits">{{localize "VTM5E.Wits"}}</option>
<option value="perception">{{localize "VTM5E.Perception"}}</option>
<option value="thaumaturgy">{{localize "VTM5E.Thaumaturgy"}}</option>
