<option value="abombwe">{{localize "VTM5E.Abombwe"}}</option>
<option value="animalism">{{localize "VTM5E.Animalism"}}</option>
<option value="auspex">{{localize "VTM5E.Auspex"}}</option>
<option value="bardo">{{localize "VTM5E.Bardo"}}</option>
<option value="celerity">{{localize "VTM5E.Celerity"}}</option>
<option value="chimerstry">{{localize "VTM5E.Chimerstry"}}</option>
<option value="daimonion">{{localize "VTM5E.Daimonion"}}</option>
<option value="dementation">{{localize "VTM5E.Dementation"}}</option>
<option value="dominate">{{localize "VTM5E.Dominate"}}</option>
<option value="flight">{{localize "VTM5E.Flight"}}</option>
<option value="fortitude">{{localize "VTM5E.Fortitude"}}</option>
<option value="melpominee">{{localize "VTM5E.Melpominee"}}</option>
<option value="mytherceria">{{localize "VTM5E.Mytherceria"}}</option>
<option value="obeah">{{localize "VTM5E.Obeah"}}</option>
<option value="obfuscate">{{localize "VTM5E.Obfuscate"}}</option>
<option value="obtenebration">{{localize "VTM5E.Obtenebration"}}</option>
<option value="potence">{{localize "VTM5E.Potence"}}</option>
<option value="presence">{{localize "VTM5E.Presence"}}</option>
<option value="protean">{{localize "VTM5E.Protean"}}</option>
<option value="quietus">{{localize "VTM5E.Quietus"}}</option>
<option value="sanguinus">{{localize "VTM5E.Sanguinus"}}</option>
<option value="serpentis">{{localize "VTM5E.Serpentis"}}</option>
<option value="spiritus">{{localize "VTM5E.Spiritus"}}</option>
<option value="temporis">{{localize "VTM5E.Temporis"}}</option>
<option value="thanatosis">{{localize "VTM5E.Thanatosis"}}</option>
<option value="valeren">{{localize "VTM5E.Valeren"}}</option>
<option value="vicissitude">{{localize "VTM5E.Vicissitude"}}</option>
<option value="visceratika">{{localize "VTM5E.Visceratika"}}</option>
<option value="oblivion">{{localize "VTM5E.Oblivion"}}</option>
<option value="rituals">{{localize "VTM5E.Rituals"}}</option>
<option value="ceremonies">{{localize "VTM5E.Ceremonies"}}</option>
<option value="thaumaturgy">{{localize "VTM5E.Thaumaturgy"}}</option>
<option value="Necromancy">{{localize "VTM5E.Necromancy"}}</option>
