<option value="alertness">{{localize "VTM5E.Alertness"}}</option>
<option value="athletics">{{localize "VTM5E.Athletics"}}</option>
<option value="awareness">{{localize "VTM5E.Awareness"}}</option>
<option value="brawl">{{localize "VTM5E.Brawl"}}</option>
<option value="empathy">{{localize "VTM5E.Empathy"}}</option>
<option value="expression">{{localize "VTM5E.Expression"}}</option>
<option value="intimidation">{{localize "VTM5E.Intimidation"}}</option>
<option value="leadership">{{localize "VTM5E.Leadership"}}</option>
<option value="legedermain">{{localize "VTM5E.Legedermain"}}</option>
<option value="subterfuge">{{localize "VTM5E.Subterfuge"}}</option>
<option value="animal ken">{{localize "VTM5E.AnimalKen"}}</option>
<option value="archery">{{localize "VTM5E.Archery"}}</option>
<option value="commerce">{{localize "VTM5E.Commerce"}}</option>
<option value="craft">{{localize "VTM5E.Craft"}}</option>
<option value="etiquette">{{localize "VTM5E.Etiquette"}}</option>
<option value="melee">{{localize "VTM5E.Melee"}}</option>
<option value="performance">{{localize "VTM5E.Performance"}}</option>
<option value="ride">{{localize "VTM5E.Ride"}}</option>
<option value="stealth">{{localize "VTM5E.Stealth"}}</option>
<option value="survival">{{localize "VTM5E.Survival"}}</option>
<option value="academics">{{localize "VTM5E.Academics"}}</option>
<option value="enigmas">{{localize "VTM5E.Enigmas"}}</option>
<option value="hearthwisdom">{{localize "VTM5E.HearthWisdom"}}</option>
<option value="investigation">{{localize "VTM5E.Investigation"}}</option>
<option value="law">{{localize "VTM5E.Law"}}</option>
<option value="medicine">{{localize "VTM5E.Medicine"}}</option>
<option value="occult">{{localize "VTM5E.Occult"}}</option>
<option value="politics">{{localize "VTM5E.Politics"}}</option>
<option value="seneschal">{{localize "VTM5E.Seneschal"}}</option>
<option value="theology">{{localize "VTM5E.Theology"}}</option>
