<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      alt="Item Image"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="{{localize 'VTM5E.Name'}}"
        />
      </h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "VTM5E.Description"}}</a>
    <a class="item" data-tab="attributes">{{localize "VTM5E.Attributes"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.data.description target="data.description"
      button=true owner=owner editable=editable}}
    </div>
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource grid grid-2col flex-center">
        {{#if data.data.useattributes}}
          <label class="resource-label">{{localize "VTM5E.Attribute"}}: </label>
          <select name="data.attribute" data-type="String">
              {{#select data.data.attribute}}
                {{> "systems/wod20/templates/item/parts/attributes.html"}}
              {{/select}}
          </select>
        {{else}}
          <label class="resource-label">{{localize "VTM5E.Skill"}}: </label>
          <select name="data.skill" data-type="String">
              {{#select data.data.skill}}
                  {{#each item.skillsArray as |skill|}}
                      <option value="{{skill.name}}">{{localize skill.loc}}</option>
                  {{/each}}
              {{/select}}
          </select>
        {{/if}}
        
        <label class="resource-label">{{localize "VTM5E.UseAttributes"}}: </label>
        <input
          type="checkbox"
          id="data.useattributes"
          name="data.useattributes"
          {{checked data.data.useattributes}}
        />
      </div>
    </div>
  </section>
</form>
